/*
todo
	pad
	tabs
	gallery
	media object
	pagenav
	switch drawer
	dropimage
	js toggle
	hamburger
?
	dialog/full
	wrap/read/narrow
	r/right/#r/shift
	
classes
	main
		.row .col-2 .col-3
		.nav .act
		a.btn, span.btn
	action
		.hide .pop .dialog .full
	decorative
		.bg .text-x .bg-x
		.wrap .read .narrow .shift
		.roll
		.icon
	optional
		.small .r .c .l .yel
		.print .screen
tags
	form>table
	form>button
*/


/* theme */
:root{
--text: #222;
--bg: #fff;
--bg-pane: rgba(0,0,0,.05);
--border: thin solid rgba(0,0,0,.16);
--bg-hilite: rgba(0,0,0,.05);
--text-hilite: inherit;
--link: #03b;
--hover: #000;
--visited:#888;
--radius:.2em;
}

/* https://github.com/jgthms/minireset.css/ */
button,input,select,textarea{margin:0;}
html{box-sizing:border-box;}
*,*:before,*:after{box-sizing:inherit;}
img,embed,iframe,object,audio,video{height:auto;max-width:100%;}
iframe{border:0;}
/*
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0;text-align:left}
*/

/* common */
body{color:var(--text);background-color:var(--bg);font:120%/1.5 "pt sans",sans-serif;margin:0;padding:1em;}
main{display:block;}/*ie*/

/* layout */
/**{box-sizing:border-box;}*/

/* typo */
ul,ol,dl,blockquote,pre,hr,p,figure{margin:1em 0;}
h1,h2,h3,h4,h5,h6{margin:1.5rem 0 1rem 0;line-height:1.2;}
pre,code{font-family:monospace;white-space:pre-wrap;}
pre{overflow:auto;max-height:80vh;}
blockquote,pre,fieldset{padding:.5em 1em;}
.small{font-size:85%;}
.r{text-align:right;}
.c{text-align:center;}
.l{text-align:left;}

/* link */
a{color:var(--link);}
a:visited{color:var(--visited);}
a:hover{color:var(--hover);}
a.btn, .nav a, a:empty[href^="#"]{text-decoration:none;}
a.act, .nav li>a:hover, tr:hover{color:var(--text-hilite);background-color:var(--bg-hilite);}
	form>table tr:hover{background:none;}
/*
a:empty[href^="#"]{float:right;}
a:empty[href^="#"]:before{content:"\d7";}
*/
a.close{float:right;}
a.close:before{content:"\d7";}

/* image */
svg{fill:currentColor;}
.icon{display:inline-block;vertical-align:-.2em;margin-right:.2em;width:1.2em;height:1.2em;}

/* list */
ul{list-style:disc outside;}
ul, ol{padding:0 0 0 1.5em;}
li ul, li ol{margin:.2em 0;}

/* table */
table{border-collapse:collapse;border-spacing:0;}
th,td{padding:.2em .8em;text-align:left;vertical-align:top;background-clip:padding-box;}
	table tr>*,fieldset,hr,.roll>table{border:var(--border);}
	form>table tr>*{border:none;}
hr{border-width:thin 0 0 0;}
.roll{overflow-x:auto;}
	.roll>table{border-width:medium;}

/* form */
form>p{margin:.5em 0;}
input,button,select,textarea,.btn{font:inherit;padding:.2em;line-height:normal;display:inline-block;}
input,button,select,textarea{border:thin solid rgba(0,0,0,.3);}
	.btn,button,[type="submit"]{padding:.5em 1em;border-radius:var(--radius);margin:.1em 0;border-color:transparent;}
	form>.btn, form>button, form>[type="submit"]{padding:.2em .5em;margin:0;}
	a.btn:hover, button:hover:not([disabled]), [type="submit"]:hover:not([disabled]),
	a.btn:focus, button:focus, input:focus, select:focus, textarea:focus{
		box-shadow:0 0 0 .15em rgba(0,0,0,.1);outline:none;
	}
	button[disabled],[type="submit"][disabled]{opacity:.5;}
	input:invalid{box-shadow:0 0 0 .15em rgba(255,200,80,.8);}



/* action */
.hide, .nav ul, .pop>div{display:none;}
.hide:target, .nav li:hover>ul, .pop:hover>div,
.nav a:focus~ul, .pop> a:focus+div
{display:block;}

/* nav */
.nav, .nav ul{list-style:none;padding:0;margin:0;}
.nav li>a, .nav form{display:block;padding:.5em 1em;}
	.nav form{padding:.3em 1em;}
.nav li>a:nth-last-child(2):after{position:static;content:'\a0\a0\203a';color:#666;} /* subnav arrow */
/* fix horizontal * /
.nav.hor:not(.flip){display:flex;flex-wrap:wrap;}
.nav.hor:not(.flip) li.gap{margin-left:auto;}
*/

/* box */
.bg, .dialog{border-radius:var(--radius);}
.pop{display:inline;}
.nav li, .pop{position:relative;}
div.hide, .nav ul, .pop>div, .dialog{background:var(--bg);background-clip:padding-box;box-shadow:0 .2em .8em  rgba(0,0,0,.5);}
	.nav ul, .pop>div{position:absolute;left:0;top:100%;min-width:12em;}
	div.hide, .pop>div{padding:.5em 1em;}
	
	.dialog{width:80%;min-width:10em;max-width:24em;margin:1em auto;text-align:center;box-sizing:content-box;}
	.full{left:0;top:0;width:100%;height:100vh;border:1em solid #eee;box-sizing:border-box;overflow:auto;}
	.dialog[class],.full{padding:2em;}
		.dialog.hide{border:200vw solid rgba(0,0,0,.85);left:50%;top:50%;transform:translate(-50%,-50%);min-width:20em;max-width:80vw;max-height:80vh;width:auto;}
		.dialog.hide,.full.hide{position:fixed;z-index:40;}
/* z-index */	
div.hide{z-index:10;}
.pop>div{z-index:20;}
.nav ul{z-index:30;}
/* width */
.wrap{max-width:60em;margin:0 auto;}
.read{max-width:40em;margin:0 auto;}
.narrow{max-width:16em;}
.shift{margin-left:auto;}

/* color */
.bg,blockquote,pre,code,thead,tfoot{background-color:var(--bg-pane);}
.btn[class],button,[type="submit"]{background-color:var(--link);color:var(--bg);}

.text-e[class]{color:#d00;}
.text-w[class]{color:#c60;}
.text-i[class]{color:#07a;}
.text-y[class]{color:#292;}
.text-n[class]{color:#999;}
.bg-e[class]{background-color:#fcc;}
.bg-w[class], mark{background-color:#fe8;}
.bg-i[class]{background-color:#cef;}
.bg-y[class]{background-color:#cec;}
.bg-n[class]{background-color:#eee;}
.bg-e.btn{background-color:#c11;}
.bg-w.btn{background-color:#e60;}
.bg-i.btn{background-color:#08b;}
.bg-y.btn{background-color:#292;}
.bg-n.btn{background-color:#999;}

/* yellow fade */
@keyframes yellowfade { 0% {} 30% {background-color:#ffc;} 100% {} }
.yel:target{animation-name:yellowfade;animation-duration:2s;}

/* media */

@media (max-width: 44.99em){
	/* mobile */
	.row>*{margin:1em 0;}
	form>table tr, form>table tr>*{display:block;padding:0;}
	form>table tr{padding-bottom:.5em;}
	ul.nav ul{left:3em;top:90%;}
}

@media (min-width: 45em){
	/* desktop */
	.row{display:flex;margin:1em 0;}
	.row>*{flex:1;}
	.row>*:not(:last-child):not(.wrap):not(.read){margin-right:1em;}
	.row>.col-2{flex:2;}
	.row>.col-3{flex:3;}
	form>table td:first-child{min-width:8em;}
	.nav ul ul{left:98%;top:.2em;}
	.nav ul li>a:nth-last-child(2):after{position:absolute;right:.5em;top:.5em;} /* subnav arrow */
	.nav{display:flex;flex-wrap:wrap;}
}

@media screen{
	.print{display:none !important;}
}

@media print{
	.screen{display:none !important;}
	.full{page-break-before:always;}
}

/* experimental */

.gal{display:flex;/*align-items:center;*/}
.gal a{display:none;/*vertical-align:top;*/}
.gal a:not(.close){background:#ddd 50% 50% / contain no-repeat;}
.gal a[id]:target{background-image:var(--img);height:100vh;flex:auto;} /* current */
	.gal a:target+a{background-image:var(--img);background-position:999em 999em;} /* preload next */
.gal a:target, .gal a:target~a.close {display:inline-block;}
	/*
	.gal a:target{order:1;}
	.gal a:target+a+a{order:-1;}
	.gal a.close{order:9;}
	*/
/*
.gal a:target:before{content:"<";}
.gal a:target+a+a:after{content:">";}
*/
