/* (c) Vadim Korolev (vadimkor@yandex.ru) 2018

d1.css - functional CSS micro framework

References
- https://www.webpagefx.com/blog/web-design/small-css-frameworks/
- https://github.com/troxler/awesome-css-frameworks
- https://jgthms.com/minireset.css/
- uglifycss --debug d1.css > d1.min.css

Priorities
- functional
- responsive (mobile first)
- simple / minimal
- performance
- semantic, css3, html5, valid
- browser support
- javascript not required
- enhanced with javascript
- style agnostic

Standard components
	form table .req .btn
	table.flip.lite.bord.pad.wide.bg.hover.gap .scroll
	ul.lite
	a.btn.lite.hover.act.pad.ib.close
Custom components
	.hide
	summary.pop.ib[id] details.hover
	.row.flip.mar.gap .col-1|2|3
	.nav.flip.bg.hover.hor .gap !toggle
	a#hash .hide[id] !toggle
	a.slide .c #cancel
	.modal.wide.pad #cancel
	.drawer.right #cancel
	.pop>.box.right .ib !toggle
	.tabs
	img#r .icon
	[data-tooltip].r
Modifiers
	Interaction: .hover .act .scroll .flip .screen|print .mobile?|desktop?
	Box: .wrap .mar .gap .pad .bord .lite .wide .box .btn .slide .ib
	Align: .l .r .c .left .right
	Color: .yel .inv .c|bg-e|w|i|y|n
Hacks
	a:target+.hide
	.switch (checkbox hack)
Propositions
	.drop
	.stick
	.fix
*/

/* theme */
:root{
--back: rgba(0,0,0,.05);
--border: thin solid rgba(0,0,0,.16);
--hilite: rgba(0,0,0,.05);
--hilited: inherit;
--link: #03c;
--visited:#538;
}

/* fonts */
body{font:120%/1.5 "pt sans",sans-serif;background-color:#fff;color:#000;}
input,button,select,textarea,.btn{font:inherit;line-height:normal;border:thin solid #999;padding:0 .1em;display:inline-block;}
pre,code/*,textarea*/{font-family:monospace;white-space:pre-wrap;}

/* grid */
.row{display:flex;}
	.row.gap{margin-right:-1em;}
	.row.gap>*{margin-right:1em;}
.row>*{flex:1;}
	/* media object */
	.row>a{flex:none;}
	.row>a>img{width:5em;}
.row>.col-2{flex:2;}
.row>.col-3{flex:3;}

/* layout */
html{box-sizing:border-box;}
*{box-sizing:inherit}
body{margin:0;padding:0;/*overflow-y:scroll;*/}
main{display:block;}/*ie*/
.ib, a.pad, .icon{display:inline-block;}
.wide{width:100%;}
img[src$="#r"], .right{float:right;}
img[src$="#l"], .left{float:left;}
img[src$="#c"]{display:block;margin:1em auto;}

/* typo */
.btn, [data-tooltip]:after{padding:0 .5em;border-radius:.2em;}
pre{overflow:auto;max-height:80vh;}
.bg,blockquote,pre,code,thead,tfoot{background-color:#f6f6f6;background-color:var(--back,#f6f6f6);}
ul,ol,dl,blockquote,pre,hr,p,figure,form,.mar{margin:.75em 0;}
blockquote,pre,fieldset,.pad{padding:.5em 1em;}
abbr{text-decoration:underline #ccc;/*dotted*/}
h1,h2,h3,h4,h5,h6{margin:1.5rem 0 1rem 0;line-height:1.2;}
h1.lite,h2.lite,h3.lite,h4.lite{margin:0;}

/* list */
ul{list-style:disc outside;}
ul, ol{padding:0 0 0 1.1em;}
li ul, li ol, summary+ul, fieldset{margin:.2em 0;}
ul.lite, ul.lite ul{list-style:none;padding-left:0;}
ul.lite ul{padding-left:1.1em;}

details details/*, summary+div*/{padding-left:1.1em;}
summary+ul{padding-left:2.2em;}
summary::-webkit-details-marker{/*color:transparent;display:none;*//*margin-right:.2em;*/}


/* form */
input,select,textarea{max-width:100%;}
	form table.gap tr>*:first-child{min-width:8em;}
	input[type="checkbox"], input[type="radio"], iframe{border:none;}
	.req:after{content:"*";color:#d00;}
		/*[disabled]{border:thin solid #ccc;color:#000;background:none;}*/
		/*form [name]:required:not([class*="bg-"]){background-color:#ffd;}*/
	/*form [name]:invalid:not([class*="bg-"]){background-color:#ff9;}*/
		.btn:not(.hover):hover, .btn:focus, input:focus, select:focus, textarea:focus{box-shadow:0 0 0 .15em rgba(0,0,0,.1);outline:none;}
			/*input[type="radio"]:checked:focus{box-shadow:none;}*/
		/*input:invalid{box-shadow:0 0 0 .15em rgba(255,140,140,.8);}*/
		input:invalid{box-shadow:0 0 0 .15em rgba(255,200,80,.8);}
	
/* table, border */
table{border-collapse:collapse;border-spacing:0;}
th,td{padding:.2em .8em;text-align:left;vertical-align:top;background-clip:padding-box;}
/*th{font-weight:bold;}*/
	table.bord tr>*, table.lite tr>*, .bord,.btn,fieldset,hr{border:thin solid #ddd;border:var(--border,thin solid #ddd);}
	table.lite tr>*{border-width:0 0 thin 0;}
hr{border-width:thin 0 0 0;}
.scroll{overflow-x:auto;}
	.scroll>table{border-width:medium;}

/* link */
a{color:var(--link,#03c);}
a.act{color:inherit;}
a:visited:not([class]):not([href^="#"]){color:var(--visited,#538);}
/*a[href^="#"]{text-decoration:underline #ccc;}*//*dashed*/
a.lite, a.pad, a.btn, body.lite a, div.lite a, .nav a, a.slide, a.slide~a/*, abbr*/{text-decoration:none;}
.close:before{content:"\d7";}
ul a:not([href]), summary{cursor:pointer;}

/* image */
img,audio{vertical-align:middle;}
img,audio,video,iframe{max-width:100%;}
.icon{vertical-align:-.2em;fill:currentColor;margin-right:.2em;width:1.2em;height:1.2em;}

/* mobile */
@media screen and (max-width: 49.99em){
	table.flip tr, table.flip tr>*{display:block;}
	table.flip tr{padding-bottom:.5em;}
	table.flip tr>*{padding:0;}
	.row.flip{display:block}
}

/* desktop */
@media screen and (min-width: 50em){
	.wrap{max-width:64em;margin:0 auto;}
	.r[class], table.r tr>*{text-align:right;}
	.l[class], table.l tr>*, fieldset{text-align:left;}
	.c[class], table.c tr>*{text-align:center;}
}


/* BASIC COMPONENTS ------------------------- */

/* toggle */
.hide:not(:target){display:none;}

/* hover */
a.hover:hover, a.hover.act,
a.hover:target,
table.hover>tbody>tr:hover,
.switch:checked+label, .switch+label:hover,
summary.hover:hover, summary.hover:focus, details[open]>summary.hover,
.nav.hover li:hover>a, .nav.hover a.act, ul.hover a:hover
{
	background-color:#eee;background-color:var(--hilite,#eee);
	color:inherit;color:var(--hilited,inherit);
}

/* modal */
.modal{position:fixed;background-color:#fff;background-clip:padding-box;left:0;right:0;top:0;overflow:auto;z-index:30;border:0 solid rgba(0,0,0,.7);border-width:20vh 22vw 100vh 22vw;min-height:135vh;max-height:190vh;}
@media (min-width:70em){ .modal{border-width:20vh 30vw 100vh 30vw;} }
@media (max-width:45em){ .modal{border-width:20vh 10vw 100vh 10vw;} }
.modal.wide{border-width:5vh;bottom:0;min-height:0;}
	.modal.pad, form.pad{padding:1em;}

/* nav */
.nav, .nav ul{list-style:none;padding:0;}
.nav:not(.mar), .nav ul{margin:0;}
.nav ul{position:absolute;top:90%;left:3em;width:12em;}
.nav ul{z-index:10;}
.nav li{position:relative;}
/* box */
.nav ul, .box{background-color:#fff;box-shadow:0 .2em .8em  rgba(0,0,0,.4);}
.nav a{display:block;padding:.5em 1em;}
/* hover */
.nav li:not(:hover) > a~ul{display:none;}
/* subnav arrow */
.nav li>a:nth-last-child(2):after{position:static;content:'\a0\a0\203a';color:#666;}
/* fix horizontal */
.nav.hor:not(.flip){display:flex;flex-wrap:wrap;}
.nav.hor:not(.flip) li.gap{margin-left:auto;}

/* desktop */
@media screen and (min-width: 50em){
	.nav.hor{display:flex;flex-wrap:wrap;}
	.nav.hor.wide>li{flex:auto;}
	.nav.hor ul{top:100%;left:0;}
	.nav.hor ul ul{top:.2em;left:97%;}
	.nav ul li>a:nth-last-child(2):after{position:absolute;right:.5em;top:.5em;} /* subnav arrow */
	.nav.hor li.gap{margin-left:auto;} /* at right side */
}


/* OPTIONAL COMPONENTS ------------------------- */

/* print */

@media screen{
	.print{display:none !important;}
}

@media print{
	.screen{display:none !important;}
	.slide{page-break-before:always;}
}

/* popup */
.pop, [data-tooltip]{position:relative;}
.pop>.hide, .pop>summary+*, [data-tooltip]:after {position:absolute;left:0;top:100%;min-width:12em;z-index:5;background-color:#fff;}
.pop>.hide.right, [data-tooltip].r:after{left:initial;right:0;}
.pop.hover:hover>.hide{display:block;}
[data-tooltip]:hover:after{content:attr(data-tooltip);min-width:8em;text-align:left;top:initial;bottom:100%;font-size:85%;line-height:1.2;padding:.2em .5em;}

/* slide */
.slide, a.slide>img{display:block;width:100%;height:100vh;object-fit:contain;background:#000 50% 50% / cover no-repeat;}
.slide.c{display:flex;align-items:center;justify-content:center;}
/* gallery */
a.slide{z-index:20;position:fixed;top:0;left:0;background-size:contain;}
a.slide:not(:target), a.slide~a:not(.slide){display:none;background-image:none !important;/*override inline bg*/}
a.slide:target:after, a.slide:target~.close{display:block;z-index:21;position:fixed;top:0;right:0;color:#fff;background:rgba(0,0,0,.4);padding:.2em .8em;}
a.slide:target:after{content:attr(data-info);left:0;right:initial;}

/* drawer */
.drawer{position:fixed;top:0;left:-17em;height:100vh;width:80%;max-width:16em;overflow-y:auto;z-index:15;}
.drawer:target{left:0;}
.drawer.right{float:none;left:initial;right:-17em;text-align:initial;}
.drawer.right:target{right:0;}
.drawer{transition:left .4s;}
.drawer.right{transition-property:right;}

/* tabs */
.nav+.tabs>div:last-child{display:block;}
.nav+.tabs>div:target~div{display:none;}
.nav+.tabs>div:target{margin-top:-3em;padding-top:3em;}

/* yellow fade */
@keyframes yellowfade { 0% {} 30% {background-color:#ffc;} 100% {} }
.yel:target{animation-name:yellowfade;animation-duration:2s;}


/* STATUS COLORS */

.c-e{color:#c11;}
.c-w{color:#c70;}
.c-i{color:#07b;}
.c-y{color:#292;}
.c-n{color:#888;}
.bg-e{background-color:#fcc;}
.bg-w{background-color:#fe8;}
.bg-i{background-color:#cef;}
.bg-y{background-color:#cec;}
.bg-n{background-color:#eee;}
.c-e.inv{color:#fcc;}
.c-w.inv{color:#fe8;}
.c-i.inv{color:#cef;}
.c-y.inv{color:#cec;}
.c-n.inv{color:#eee;}
.bg-e.inv{background-color:#c11;}
.bg-w.inv{background-color:#e80;}
.bg-i.inv{background-color:#07b;}
.bg-y.inv{background-color:#292;}
.bg-n.inv{background-color:#888;}

.inv, [data-tooltip]:after{color:#fff;background-color:#666;}
.inv a{color:inherit;text-decoration-color:inherit;}
/*.bord[class*="c-"]{border-color:currentColor;}*/
.btn.inv, .btn.lite{border-color:transparent;}

/* SCROLL HACKS */

/* self-referencing link */
a:target:before{position:fixed;top:0;content:"";}
a:target+.hide{display:block;}
/* checkbox/radio */
.switch+label{cursor:pointer;color:var(--link,#03c);}
.switch, .switch:not(:checked)+label+*, .switch:not(:checked)+div{display:none;}
/* radio tabs */
.tabs{display:flex;flex-wrap:wrap;}
.tabs>.switch+label{order:-1;padding:.5em 1em;}
.tabs>div{width:100%;}


/* js */

.js-control{display:none !important;}
.js-show{display:block !important;}


/* propositions */

/* drop image */
.drop{display:inline-block;background:50% 50% / cover no-repeat;}
.drop input{opacity:0;width:5em;height:5em;cursor:pointer;}
/* sticky */
.stick{position:sticky;top:0;align-self:flex-start;z-index:2;}
footer.stick{top:initial;bottom:0;}
/* fixed */
/*
.fix[class]{position:fixed;top:0;left:0;z-index:2;}
.fix.right{left:initial;right:0;}
.fix ~ * :target:before{display:block;content:"";margin-top:-3em;height:3em;}
*/
