/* (c) Vadim Korolev (vadimkor@yandex.ru) 2018

n0.css - functional CSS micro framework without classes

todo: c-e, modal, toggle, tabs?, gal?

+	table, form table ?flip
+	nav = .nav !flip
+	a#cancel
+	main = .wrap
+	section = row, * =  aside = .33 !flip
+	img#r
	?modal
	?hide[id] toggle ?checkbox-hack
	mark = c-e

Standard components
	form table .req .btn
	table.flip.lite.bord.pad.wide.bg.hover.gap .scroll
	ul.lite
	a.btn.lite.hover.act.pad.ib.close
Custom components
	.hide
	.row.flip.mar.gap .col-1|2|3
	.nav.flip.bg.hover.hor .gap !toggle
	a#hash .hide[id] !toggle
	a.slide .c #cancel
	.modal.wide.pad #cancel
	.drawer.right #cancel
	.pop>.box.right .ib !toggle
	.tabs
	img#r .icon
Modifiers
	Interaction: .hover .act .scroll .flip .screen|print .mobile?|desktop?
	Box: .wrap .mar .gap .pad .bord .lite .wide .box .btn .slide .ib
	Align: .l .r .c .left .right
	Color: .yel .inv .c|bg-e|w|i|y|n
Hacks
	a:target+.hide
	.switch (checkbox hack)
Propositions
	.drop
	.stick
	.fix
*/

/* theme */
:root{
--back: rgba(0,0,0,.05);
--border: thin solid rgba(0,0,0,.16);
--hilite: rgba(0,0,0,.05);
--hilited: inherit;
--link: #03c;
--visited:#538;
}

/* fonts */
body{font:120%/1.5 "pt sans",sans-serif;background-color:#fff;color:#000;}
input,button,select,textarea,button,input[type="submit"]{font:inherit;line-height:normal;border:thin solid #999;padding:0 .1em;display:inline-block;}
pre,code/*,textarea*/{font-family:monospace;white-space:pre-wrap;}

/* grid */
section{display:flex;margin-right:-1em;}
section>*{flex:2;box-sizing:border-box;margin-right:1em;}
section>aside{flex:1;}

/* layout */
body{margin:0;padding:1em;/*overflow-y:scroll;*/}
main{display:block;}/*ie*/
img[src$="#r"]{float:right;}
img[src$="#l"]{float:left;}
img[src$="#c"]{display:block;margin:1em auto;}

/* typo */
button, input[type="submit"]{color:#fff;background-color:#03c;background-color:var(--link,#03c);}
button *{color:#fff;}
button, input[type="submit"]{padding:.5em 1em;border-radius:.2em;}
pre{overflow:auto;max-height:80vh;}
blockquote,pre,code,thead,tfoot,nav{background-color:#f6f6f6;background-color:var(--back,#f6f6f6);}
ul,ol,dl,blockquote,pre,hr,p,figure,form{margin:.75em 0;}
blockquote,pre,fieldset{padding:.5em 1em;}
abbr{text-decoration:underline #ccc;/*dotted*/}
h1,h2,h3,h4,h5,h6{margin:1.5rem 0 1rem 0;line-height:1.2;}

/* list */
ul{list-style:disc outside;}
ul, ol{padding:0 0 0 1.5em;}
li ul, li ol, fieldset{margin:.5em 0;}

/* form */
input,select,textarea{max-width:100%;}
	/*form table tr>*:first-child{min-width:8em;}*/
	input[type="checkbox"], input[type="radio"]{border:none;}
	form [name]:invalid{background-color:#ff9;} 
	
/* table, border */
table{border-collapse:collapse;}
th,td{padding:.2em .8em;text-align:left;vertical-align:top;background-clip:padding-box;}
/*th{font-weight:bold;}*/
	table tr>*,fieldset,hr{border:thin solid #ddd;border:var(--border,thin solid #ddd);}
	form table tr>*{border-width:0;}
hr{border-width:thin 0 0 0;}
/*
section{overflow-x:auto;}
	section>table{border-width:medium;}
	*/

/* link */
a{color:var(--link,#03c);}
a:visited:not([href^="#"]){color:var(--visited,#538);}
/*a[href^="#"]{text-decoration:underline #ccc;}*//*dashed*/
nav ul a /*, abbr*/{text-decoration:none;}
a[href^="#"]:empty:before{content:"\d7";float:right;}
ul a:not([href]){cursor:pointer;}

/* image */
img,video{max-width:100%;vertical-align:middle;}
svg{fill:currentColor;}

/* mobile */
@media screen and (max-width: 49.99em){
	form table tr, form table tr>*{display:block;}
	form table tr{padding-bottom:.5em;}
	form table tr>*{padding:0;}
	section{display:block}
}

/* desktop */
@media screen and (min-width: 50em){
	main{max-width:64em;margin:0 auto;}
}

/* BASIC COMPONENTS ------------------------- */

/* toggle * /
.hide:not(:target){display:none;}
/**/
div[id]:not(:target){display:none;}

/* hover */
a:hover,
a:target,
table>tbody>tr:hover,
[id]:checked+label, [id]+label:hover,
nav li:hover>a
{
	background-color:#eee;background-color:var(--hilite,#eee);
	color:inherit;color:var(--hilited,inherit);
}

/* modal * /
.modal{position:fixed;box-sizing:border-box;background-color:#fff;background-clip:padding-box;left:0;right:0;top:0;overflow:auto;z-index:30;border:0 solid rgba(0,0,0,.7);border-width:20vh 22vw 100vh 22vw;min-height:135vh;max-height:190vh;}
@media (min-width:70em){ .modal{border-width:20vh 30vw 100vh 30vw;} }
@media (max-width:45em){ .modal{border-width:20vh 10vw 100vh 10vw;} }
.modal.wide{border-width:5vh;bottom:0;min-height:auto;}
	.modal.pad, form.pad{padding:1em;}
/**/
div[id]{position:fixed;box-sizing:border-box;left:0;right:0;top:0;bottom:0;overflow:auto;z-index:30;border:5vh solid rgba(0,0,0,.7);background-color:#fff;background-clip:padding-box;padding:1em;}

/* nav */
nav ul{list-style:none;padding:0;margin:0;}
nav ul ul{position:absolute;top:90%;left:3em;width:12em;z-index:10;}
nav li{position:relative;}
/* box */
nav ul ul{background-color:#fff;box-shadow:0 .2em .8em  rgba(0,0,0,.4);}
nav ul a{display:block;padding:.5em 1em;}
/* hover */
nav li:not(:hover) > a~ul{display:none;}
/* subnav arrow */
nav li>a:nth-last-child(2):after{position:static;content:'\a0\a0\203a';color:#666;}

/* desktop */
@media screen and (min-width: 50em){
	nav>ul{display:flex;flex-wrap:wrap;}
	nav ul ul{top:100%;left:0;}
	nav ul ul ul{top:.2em;left:97%;}
	nav ul ul li>a:nth-last-child(2):after{position:absolute;right:.5em;top:.5em;} /* subnav arrow */
}


/* OPTIONAL COMPONENTS ------------------------- */

/* tabs * /
.nav+.tabs>div:last-child{display:block;}
.nav+.tabs>div:target~div{display:none;}
.nav+.tabs>div:target{margin-top:-3em;padding-top:3em;}

/* yellow fade */
@keyframes yellowfade { 0% {} 30% {background-color:#ffd;} 100% {} }
:target{animation-name:yellowfade;animation-duration:2s;}


/* STATUS COLORS * /

.c-e{color:#c11;}
.c-w{color:#c70;}
.c-i{color:#07b;}
.c-y{color:#292;}
.c-n{color:#888;}
.bg-e{background-color:#fcc;}
.bg-w{background-color:#fe8;}
.bg-i{background-color:#cef;}
.bg-y{background-color:#cec;}
.bg-n{background-color:#eee;}
.c-e.inv{color:#fcc;}
.c-w.inv{color:#fe8;}
.c-i.inv{color:#cef;}
.c-y.inv{color:#cec;}
.c-n.inv{color:#eee;}
.bg-e.inv{background-color:#c11;}
.bg-w.inv{background-color:#e80;}
.bg-i.inv{background-color:#07b;}
.bg-y.inv{background-color:#292;}
.bg-n.inv{background-color:#888;}

.inv{color:#fff;background-color:#666;}
.inv a{color:inherit;text-decoration-color:inherit;}
.btn.inv, .btn.lite{border-color:transparent;}
/**/

/* error / warning */
mark{background:none;color:#c11;}
mark>a:only-child{color:inherit;}
mark>button, mark>input[type="submit"]{background:#c11;}
p>mark:only-child{background:#fe9;}
/* info / success */
em>a:only-child, a>em:only-child{color:#292;font-style:normal;}
em>button, em>input[type="submit"]{background:#292;font-style:normal;}
p>em:only-child{color:#292;background:#cec;font-style:normal;}

/* status common*/
mark>button, mark>input[type="submit"], em>button, em>input[type="submit"]{color:white;}
nav a>mark, p>mark:only-child, nav a>em, p>em:only-child {display:block;}
p>mark:only-child, p>em:only-child{border:thin solid;padding:.5em 1em;}


/* SCROLL HACKS */

/* checkbox/radio * /
.switch+label{cursor:pointer;color:var(--link,#03c);}
.switch, .switch:not(:checked)+label+*, .switch:not(:checked)+div{display:none;}
/* radio tabs * /
.tabs{display:flex;flex-wrap:wrap;}
.tabs>.switch+label{order:-1;padding:.5em 1em;}
.tabs>div{width:100%;}


/* sticky */
header{position:sticky;top:0;align-self:flex-start;z-index:11;}
footer{top:auto;bottom:0;}
